<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/navbar.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/get_match.css" type="text/css">
    <title>Match</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
    <%- include('./partials/navbar') %> 
    <br>
    <a href="/matches/<%= match_id %>/score_comparision" class="btn btn-dark">Score comparision</a>
    <a href="/matches/<%= match_id %>/runs_percentage" class="btn btn-dark">Runs percentage</a>
    <a href="/matches/<%= match_id %>/match_summary" class="btn btn-dark">Match Summary</a>
    
    <br><br>
    
    <h2 class="i"> First innings </h2>
    <h4> Batting (<%= teams[0].firstteam %>) </h4>
    <table class="t1" cellspacing="0" width="100%">
        <tr>
            <th> <b>Batter</b> </th>
            <th> <b>Runs</b> </th>
            <th> <b>Fours</b> </th>
            <th> <b>Sixes</b> </th>
            <th> <b>Balls faced</b> </th>
        </tr>
        <% batting.forEach(batter => { %>
            <% if (batter.innings_no == 1) {%>
                <tr>
                    <td> <a href="/players/<%= batter.player_id%>"> <%= batter.player_name %> <br></a> </td>
                    <td> <%= batter.runs %> </td>
                    <td> <%= batter.fours %> </td>
                    <td> <%= batter.sixes %> </td>
                    <td> <%= batter.balls_faced %> </td>
                </tr>
            <% } %> 
        <% }) %> 
    </table>
    <br>
    <div id="e"><b> Extras: <%= extras[0].extras %> </b></div> <br>
    <div id="t"><b> Total: <%= total[0].total_runs %>/<%= total[0].wickets %> </b></div> <br>

    <h4> Bowling </h4>
    <table class="t2" cellspacing="0" width="100%">
        <tr>
            <th> <b>Bowler</b> </th>
            <th> <b>Balls bowled</b> </th>
            <th> <b>Runs_given</b> </th>
            <th> <b>Wickets</b> </th>
        </tr>
        <% bowling.forEach(bowler => { %>
            <% if (bowler.innings_no == 1) {%>
                <tr>
                    <td> <a href="/players/<%= bowler.player_id%>"> <%= bowler.player_name %> <br></a> </td>
                    <td> <%= bowler.balls_bowled %> </td>
                    <td> <%= bowler.runs_given %> </td>
                    <td> <%= bowler.wickets %> </td>
                </tr>
            <% } %> 
        <% }) %> 
    </table>
    <br>
    <h2 class="i"> Second innings </h2>
    <h4> Batting (<%= teams[0].secondteam %>) </h4>
    <table class="t1" cellspacing="0" width="100%">
        <tr>
            <th> <b>Batter</b> </th>
            <th> <b>Runs</b> </th>
            <th> <b>Fours</b> </th>
            <th> <b>Sixes</b> </th>
            <th> <b>Balls faced</b> </th>
        </tr>
        <% batting.forEach(batter => { %>
            <% if (batter.innings_no == 2) {%>
                <tr>
                    <td> <a href="/players/<%= batter.player_id%>"> <%= batter.player_name %> <br></a> </td>
                    <td> <%= batter.runs %> </td>
                    <td> <%= batter.fours %> </td>
                    <td> <%= batter.sixes %> </td>
                    <td> <%= batter.balls_faced %> </td>
                </tr>
            <% } %> 
        <% }) %> 
    </table>
    <br>
    <div id="e"> <b> Extras: <%= extras[1].extras %> </b> </div> <br>
    <div id="t"> <b> Total: <%= total[1].total_runs %>/<%= total[0].wickets %> </b> </div> <br>

    <h4> Bowling </h4>
    <table class="t2" cellspacing="0" width="100%">
        <tr>
            <th> <b>Bowler</b> </th>
            <th> <b>Balls bowled</b> </th>
            <th> <b>Runs_given</b> </th>
            <th> <b>Wickets</b> </th>
        </tr>
        <% bowling.forEach(bowler => { %>
            <% if (bowler.innings_no == 2) {%>
                <tr>
                    <td> <a href="/players/<%= bowler.player_id%>"> <%= bowler.player_name %> <br></a> </td>
                    <td> <%= bowler.balls_bowled %> </td>
                    <td> <%= bowler.runs_given %> </td>
                    <td> <%= bowler.wickets %> </td>
                </tr>
            <% } %> 
        <% }) %> 
    </table>
    
    <br>
    <h2> Match Info </h2>
    <p>
        <b>Match</b> : <%= info[0].match_id %>, <%= info[0].team1 %> vs <%= info[0].team2 %>, <%= info[0].season_year %> <br>
        <b>Toss</b> : <%= info[0].toss %> <br>
        <b>Venue</b> : <%= info[0].venue_name %> <br>
        <b>Umpires</b> : <%= umpires[0].umpire_name %>, <%= umpires[1].umpire_name %>, <%= umpires[2].umpire_name %> <br>
        <% var c1 = 0, c2 = 0 %> 
        <b>Playing XI of team1</b> :    <% playingXI.forEach(player => { %>
                                            <% if (player.team_id == info[0].id1) {%>
                                                <%= player.player_name %>
                                                <% if (player.role_desc  == 'Keeper') {%>
                                                    (wk)  
                                                <% } %>
                                                <% if(player.role_desc == 'Captain') {%>
                                                    (c)  
                                                <% } %>
                                                <% if(player.role_desc == 'CaptainKeeper') {%>
                                                    (c) (wk)  
                                                <% } %>
                                                <% c1 += 1%>
                                                <% if(c1 < 11) {%>
                                                        ,  
                                                <% } %>
                                            <% } %> 
                                        <% }) %>
        <br>
        <b>Playing XI of team2</b> :    <% playingXI.forEach(player => { %>
                                            <% if (player.team_id == info[0].id2) {%>
                                                <%= player.player_name %>
                                                <% if (player.role_desc  == 'Keeper') {%>
                                                    (wk)  
                                                   <% } %>
                                                <% if(player.role_desc == 'Captain') {%>
                                                    (c)  
                                                <% } %>
                                                <% if(player.role_desc == 'CaptainKeeper') {%>
                                                    (c) (wk)  
                                                <% } %>
                                                <% c2 += 1%>
                                                <% if(c2 < 11) {%>
                                                        ,  
                                                <% } %> 
                                            <% } %> 
                                        <% }) %>
    </p>      
</body>
</html>