<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/navbar.css" type="text/css">
    <title>Match</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <style>
        .t1 {
            font-family: arial, sans-serif;
            width: 100%;
        }
        .t1 td{
            border: 1.50px solid #dddddd;
            text-align: center;
            padding: 8px;
        }
        .t1 th {
            border: 1.50px solid #dddddd;
            text-align: center;
            padding: 8px;
            background-color: lightgrey
        }
        .t2 {
            font-family: arial, sans-serif;
            width: 100%;
        }
        .t2 td{
            border: 1.50px solid #dddddd;
            text-align: center;
            padding: 8px;
        }
        .t2 th {
            border: 1.50px solid #dddddd;
            text-align: center;
            padding: 8px;
            background-color: lightskyblue
        }
        #wh {
            text-align: center;
        }
    </style>
</head>
<body>
    <%- include('./partials/navbar.ejs') %> 
    <h2> First innings </h2>
    <h3> Batting (<%= teams[0].firstteam %>) </h3>
    <table class="t1" cellspacing="0" width="100%">
        <tr>
            <th> <b>Batter</b> </td>
            <th> <b>Runs</b> </td>
            <th> <b>Fours</b> </td>
            <th> <b>Sixes</b> </td>
            <th> <b>Balls faced</b> </td>
        </tr>
        <% batting.forEach(batter => { %>
            <% if (batter.innings_no == 1) {%>
                <tr>
                    <td> <a href="/players/<%= batter.player_id%>"> <%= batter.player_name %> <br></a> </td>
                    <td> <%= batter.runs %> </td>
                    <td> <%= batter.fours %> </td>
                    <td> <%= batter.sixes %> </td>
                    <td> <%= batter.balls_faced %> </td>
                </tr>
            <% } %> 
        <% }) %> 
    </table>
    <br>
    <div id="e"><b> Extras: <%= extras[0].extras %> </b></div> <br>
    <div id="t"><b> Total: <%= total[0].total_runs %>/<%= total[0].wickets %> </b></div> <br>

    <h3> Bowling </h3>
    <table class="t2" cellspacing="0" width="100%">
        <tr>
            <th> <b>Bowler</b> </td>
            <th> <b>Balls bowled</b> </td>
            <th> <b>Runs_given</b> </td>
            <th> <b>Wickets</b> </td>
        </tr>
        <% bowling.forEach(bowler => { %>
            <% if (bowler.innings_no == 1) {%>
                <tr>
                    <td> <a href="/players/<%= bowler.player_id%>"> <%= bowler.player_name %> <br></a> </td>
                    <td> <%= bowler.balls_bowled %> </td>
                    <td> <%= bowler.runs_given %> </td>
                    <td> <%= bowler.wickets %> </td>
                </tr>
            <% } %> 
        <% }) %> 
    </table>

    <h2> Second innings </h2>
    <h3> Batting (<%= teams[0].secondteam %>) </h3>
    <table class="t1" cellspacing="0" width="100%">
        <tr>
            <th> <b>Batter</b> </td>
            <th> <b>Runs</b> </td>
            <th> <b>Fours</b> </td>
            <th> <b>Sixes</b> </td>
            <th> <b>Balls faced</b> </td>
        </tr>
        <% batting.forEach(batter => { %>
            <% if (batter.innings_no == 2) {%>
                <tr>
                    <td> <a href="/players/<%= batter.player_id%>"> <%= batter.player_name %> <br></a> </td>
                    <td> <%= batter.runs %> </td>
                    <td> <%= batter.fours %> </td>
                    <td> <%= batter.sixes %> </td>
                    <td> <%= batter.balls_faced %> </td>
                </tr>
            <% } %> 
        <% }) %> 
    </table>
    <br>
    <div id="e"> <b> Extras: <%= extras[1].extras %> </b> </div> <br>
    <div id="t"> <b> Total: <%= total[1].total_runs %>/<%= total[0].wickets %> </b> </div> <br>

    <h3> Bowling </h3>
    <table class="t2" cellspacing="0" width="100%">
        <tr>
            <th> <b>Bowler</b> </td>
            <th> <b>Balls bowled</b> </td>
            <th> <b>Runs_given</b> </td>
            <th> <b>Wickets</b> </td>
        </tr>
        <% bowling.forEach(bowler => { %>
            <% if (bowler.innings_no == 2) {%>
                <tr>
                    <td> <a href="/players/<%= bowler.player_id%>"> <%= bowler.player_name %> <br></a> </td>
                    <td> <%= bowler.balls_bowled %> </td>
                    <td> <%= bowler.runs_given %> </td>
                    <td> <%= bowler.wickets %> </td>
                </tr>
            <% } %> 
        <% }) %> 
    </table>

    <h2> Match Info </h2>
    <p>
        <b>Match</b> : <%= info[0].match_id %>, <%= info[0].team1 %> vs <%= info[0].team2 %>, <%= info[0].season_year %> <br>
        <b>Toss</b> : <%= info[0].toss %> <br>
        <b>Venue</b> : <%= info[0].venue_name %> <br>
        <b>Umpires</b> : <%= umpires[0].umpire_name %>, <%= umpires[1].umpire_name %>, <%= umpires[2].umpire_name %> <br>
        <% var c1 = 0, c2 = 0 %> 
        <b>Playing XI of team1</b> :    <% playingXI.forEach(player => { %>
                                            <% if (player.team_id == info[0].id1) {%>
                                                <%= player.player_name %>
                                                <% if (player.role_desc  == 'Keeper') {%>
                                                    (wk)  
                                                <% } %>
                                                <% if(player.role_desc == 'Captain') {%>
                                                    (c)  
                                                <% } %>
                                                <% if(player.role_desc == 'CaptainKeeper') {%>
                                                    (c) (wk)  
                                                <% } %>
                                                <% c1 += 1%>
                                                <% if(c1 < 11) {%>
                                                        ,  
                                                <% } %>
                                            <% } %> 
                                        <% }) %>
        <br>
        <b>Playing XI of team2</b> :    <% playingXI.forEach(player => { %>
                                            <% if (player.team_id == info[0].id2) {%>
                                                <%= player.player_name %>
                                                <% if (player.role_desc  == 'Keeper') {%>
                                                    (wk)  
                                                   <% } %>
                                                <% if(player.role_desc == 'Captain') {%>
                                                    (c)  
                                                <% } %>
                                                <% if(player.role_desc == 'CaptainKeeper') {%>
                                                    (c) (wk)  
                                                <% } %>
                                                <% c2 += 1%>
                                                <% if(c2 < 11) {%>
                                                        ,  
                                                <% } %> 
                                            <% } %> 
                                        <% }) %>
    </p>

    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    <script>
        var overs = [];
        for(var i=0; i<=20; i++)
            overs.push(i);

        var team1_runs = [0];
        <% first_innings_runs.forEach(over => { %>
            team1_runs.push(<%= over.rpo %>)
        <% }) %>

        for(var j=1; j<team1_runs.length; j++)
            team1_runs[j] += team1_runs[j-1];

        var team2_runs = [0];
        <% second_innings_runs.forEach(over => { %>
            team2_runs.push(<%= over.rpo %>)
        <% }) %>

        for(var j=1; j<team2_runs.length; j++)
            team2_runs[j] += team2_runs[j-1];

        var team1_name = "<%= teams[0].firstteam %>";
        var team2_name = "<%= teams[0].secondteam %>";
        
        new Chart("myChart", {  
            type: "line",
            data: {
                labels: overs,
                datasets: [{
                label : team1_name,
                data: team1_runs,
                borderColor: "red",
                fill: false
                },{
                label : team2_name,
                data: team2_runs,
                borderColor: "blue",
                fill: false
                }]
            },
            options: {
                legend: {display: true},
                responsive: true,
                scales: {
                    xAxes: [ {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Overs'
                    },
                    ticks: {
                        major: {
                        fontStyle: 'bold',
                        fontColor: '#FF0000'
                        }
                    }
                    } ],
                    yAxes: [ {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Runs'
                    }
                    } ]
                }
            }
        });

    </script>
    <h3 id="wh"><b> <%= result[0].winner %> won by <%= result[0].win_margin %> <%= result[0].win_type %> </b></h3>  
    
    <canvas id="piechart" style="width:100%;max-width:700px"></canvas>
    <canvas id="piechart2" style="width:100%;max-width:700px"></canvas>

    <script>
        var total = <%= total[0].total_runs %>;
        var ones = <%= pies[0].ones %>;
        var twos = <%= pies[0].twos %>;
        var threes = <%= pies[0].threes %>;
        var fours = <%= pies[0].fours %>;  
        var sixes = <%= pies[0].sixes %>;
        var extras = <%= pies[0].extras %> 
        var arr = [ones, twos, threes, fours, sixes, extras];
        for(var i=0; i<6; i++)
            arr[i] = ((arr[i]*1.0)/total)*100.0;
        
        var xValues = ["Ones", "Twos", "Threes", "Fours", "Sixes", "Extras"];
        var barColors = ["yellow", "red","black","skyblue","green","pink"];
        
        new Chart("piechart", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                backgroundColor: barColors,
                data: arr
                }]
            },
            options: {
                title: {
                display: true,
                text: team1_name + " Runs Percentage"
                }
            }
        });

        total = <%= total[1].total_runs %>;
        ones = <%= pies[1].ones %>;
        twos = <%= pies[1].twos %>;
        threes = <%= pies[1].threes %>;
        fours = <%= pies[1].fours %>;  
        sixes = <%= pies[1].sixes %>;
        extras = <%= pies[1].extras %> 
        arr = [ones, twos, threes, fours, sixes, extras];
        for(var i=0; i<6; i++)
            arr[i] = ((arr[i]*1.0)/total)*100.0;

        new Chart("piechart2", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                backgroundColor: barColors,
                data: arr
                }]
            },
            options: {
                title: {
                display: true,
                text: team2_name + " Runs Percentage"
                }
            }
        });
    </script>    
</body>
</html>